.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: calc((100%)/5);
}

.label {
    color:#fbebfe;
    font-size: 18px;
}

.percentage {
    margin-top: 10px;
    color:#fbebfe;
    font-size: 28px;
}