.statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;  
    margin-left: 30px;
    margin-top: 70px;
    border: 1px solid #dae1e9;
    border-radius: 5px; 

}

.title{
    font-size: 30px;
    font-weight: 700; 
    color: #575a5c;
    text-transform: uppercase; 

    margin-top: 45px;
    margin-bottom: 45px;
}

.stat__list{ 
    display: flex;
    width:500px;
    height: 100px;
    flex-wrap: wrap;

}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: calc((100%)/5);
}

.label {
    color:#fbebfe;
    font-size: 18px;
}

.percentage {
    margin-top: 10px;
    color:#fbebfe;
    font-size: 28px;
}